{{ $data := index .Site.Data .Site.Language.Lang }}

<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "head.html" . }}

<body>
    <div class="content">
        <div class="content__left">
            <h1 class="mainHeading">{{$data.content.BasicInfo.FirstName}}
                <span>{{$data.content.BasicInfo.LastName}}</span></h1>

            {{ partial "_profile.html" . }}
            {{ partial "_experience.html" . }}
            {{ partial "_education.html" . }}

        </div>
        <div class="content__right">

            {{ partial "_avatar.html" . }}
            {{ partial "_contacts.html" . }}
            {{ partial "_skills.html" . }}
            {{ partial "_languages.html" . }}
            {{ partial "_diplomas.html" . }}
            {{ partial "_interests.html" . }}
            {{ partial "_translations.html" . }}
        </div>
    </div>
</body>

</html>